.about {
    background: url(/img/bg-sobre.jpg) no-repeat center;
    background-size: cover;
}

.mission {
    padding-top: 60px;
}

.mission p, .mission ul li {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1em;
    padding-right: 60px;
}

.mission ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 20px;
}

.team {
    padding-top: 20px;
}